absl-py
aiohappyeyeballs
aiohttp
aiomysql
aiosignal
alembic
annotated-types
anyio
astunparse
asyncpg
attrs
bcrypt
cachetools
certifi
cffi
chardet
charset-normalizer
click
cmake
colorama
contourpy
croniter
cryptography
cycler
discord.py
discord-py-interactions
discord-py-slash-command
discord-typings
distlib
dlib
dnspython
dropbox
ecdsa
email_validator
emoji
face-recognition
face_recognition_models
fastapi
filelock
flatbuffers
fonttools
frozenlist
future
gast
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
googletrans
greenlet
grpcio
grpcio-status
h11
h2
h5py
hpack
hstspreload
httpcore
httplib2
httptools
httpx
hyperframe
idna
imageio
imutils
iso8601
itsdangerous
jax
jaxlib
Jinja2
joblib
jose
jplephem
Js2Py
keras
keyboard
kiwisolver
lazy_loader
libclang
libusb
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml-dtypes
MouseInfo
mpmath
multidict
mysql-connector-python
mysqlclient
namex
networkx
numpy
openai
opencv-contrib-python
opencv-python
opencv-python-headless
opt-einsum
optree
orjson
packaging
passlib
pillow
pip
pkg-about
platformdirs
ply
proto-plus
protobuf
psycopg2
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
pydantic
pydantic_core
pydantic-extra-types
pydantic-settings
pygame
PyGetWindow
Pygments
pyjsparser
PyJWT
PyMsgBox
PyMySQL
PyOpenGL
pyparsing
pyperclip
PyRect
PyScreeze
pyserial
pytesseract
python-dateutil
python-dotenv
python-jose
python-multipart
pytweening
pytz
pyusb
PyYAML
requests
rfc3986
rich
rsa
scikit-image
scikit-learn
scipy
sequential
serial
setuptools
sgp4
six
skyfield
sniffio
sounddevice
SQLAlchemy
starlette
stone
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
threadpoolctl
tifffile
tomli
tqdm
typing_extensions
tzdata
tzlocal
ujson
uritemplate
urllib3
urlopen
usb
uvicorn
virtualenv
watchfiles
watchgod
websockets
Werkzeug
wheel
wrapt
yarl
